:root {
    font-family: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}


/*STILI CONTENUTO PRINCIPALE*/

#wrapper{
    height: calc(100vh - 100px);
    background-color: blue;
    display: flex;

}

#sideBar{
    width: 250px;
    height: 100%;
    background-color: #000000;
}

#mainContent{
    flex-grow: 1;
    height: 100%;
    background-color: #141922;
    
}



/*STILI SCATOLA OMBRATA CON BOTTONE UPGRADE*/
#shadowBox{
    height: 100px;
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    z-index: 99;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

#upgradeButton{
    text-decoration: none;
    color: white;
    background-color: #080b12;
    padding: 1rem 2rem;
    border: 1px solid white;
    border-radius: 30px;
    font-weight: bold;
    margin-right: 16rem;
    
}

#upgradeButton:hover{ 
    padding: 1.3rem 2.5rem;
}



/*STILI SIDEBAR*/
#sideBar{
    padding: 1.5rem;
    color: #727272;
    font-weight: bold;
    line-height: 2.5rem;
    display: flex;
    flex-direction: column;
}

#sideBar a{
    display: block;
}

#sideBarMenu{
    margin: 1.5rem 0;
}

#logoImg{
    width: 11rem;
}


.selectedIcon{
    border-left: 3px solid yellowgreen;
    color: #ffffff;
}

.sideBarIcons{
    width: 2rem;
    vertical-align: middle;
    color: #727272;
}

.showSpan{
    display: inline-block;
    vertical-align: middle;
}


#sideBar ul{
    list-style-type: none;
}

#sideBar i{
    color: #000000;
    font-weight: bold;
    font-size: 1.5rem;
}

.containerSquare{
    display: inline-block;
    background-color: #a3a3a3;
    padding: .2rem .5rem;
    height: 2.5rem;
}

#sideBar a:hover {
    color: #ffffff;
}


.profileCard{
    padding: 5px;
    margin-top: auto;

    /* DEBUG
    border: 1px dashed white; */
}

#userImg{
    background-color: grey;
    border-radius: 50%;
    display: inline-block;
    width: 1.7rem;
    height: 1.7rem;
    object-fit: contain;
    vertical-align: middle;
}

.profileContainer span{
    color: #ffffff;
    margin-left: .5rem;
}

.downloadContainer{
    width: 100%;
    margin-bottom: .3rem;
    border-bottom: 1px solid gray;
}

.downloadContainer img{
    width: 1.3rem ;
    vertical-align: middle;
}

.playlistContainer{
    overflow-y: auto;
    height: 23rem;
}



/*STILI MAIN CONTENT*/
#mainContent{
    max-height: 100vh;
    overflow-y: auto;
   
}

#mainContent span{
     color: #727272;
}

.containerI{
    
    color: #ffffff;
    font-size: 5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

.albumCol a{
    position: relative;
    display: block;
}


.navCol li{
    list-style-type: none;
    display: inline-block;
    margin: 0 2rem;

}

.navCol li a:hover {
    color: #ffffff;
}

.navCol .selectedIcon{
    border-left: 0;
    border-bottom: 2px solid yellowgreen ;
    color: #727272;
    
}

.navRow{
    margin-top: 120px;
    margin-bottom: 3rem;
    justify-content: center;
}

.navCol a{
    font-weight: bold;
}

.albumCol{
    width: calc(100%/6);
    text-align: center;
    color: #ffffff;    
    position: relative;
}


.albumImg{
    width: 15rem;
    margin: .8rem 0
}

.albumCol:hover .albumImg{
    opacity: .7;
}

.albumCol:hover .containerI{
    opacity: 1;
}


.containerText{
    display: block;    
    color: #ffffff;
    margin: 3rem 0 1rem 2.5rem;
    line-height: 2.5rem;
}

.roundImg{
    border-radius: 50% ;
}


/*STILI CONTROLLER IN BASSO*/
#controller{
    height: 100px;
    background-color: #282828;
    color: #f9f9f9;
}

#playingAlbum {
    width: 4rem;
    margin: 0 2rem;
    vertical-align: middle;
}

#controller .col i{
    vertical-align: middle;
    margin: 2.5rem .5rem;
}

#controller .playerCol i{
    font-size: 2rem;
    margin: 0.5rem 1.5rem ;
    
}

.playerCol{
    width: 50rem;
    text-align: center;
}

#controller .playerCol .fa-circle-play{
    font-size: 3rem;
    color: #f9f9f9;
}

.controllerText{
    display: inline-block;
    vertical-align: middle;
    margin-right: 2rem;
}

.controllerText span, a{
    color: #727272;
}

.controllerText a:hover{
    color: #ffffff;
}






/*debug*/
.row{
    display: flex;
    
}
.col{
    
    
    /* DEBUG
    border: 1px dashed white; */
       
}
.controllerRow{
    justify-content: space-between;
    align-items: center;
}









/*************************
SLIDER STILI 
*************************/

.sliderContainer{

    /* DEBUG
    border: 1px dashed yellow; */ 
}

.sliderVolumeContainer{
    display: inline-block ;
}

.slider{
    width: 80%;
    -webkit-appearance: none;
    appearance: none;
    height: .5rem;
    background-color: #727272;
    opacity: .7;
    border-radius: 30px;
}

.slider:hover{
    opacity: 1;
}

.slider::-moz-range-thumb {
    width: 20px; 
    height: 20px;
    border-radius: 50%; 
    background: #ffffff; 
    cursor: pointer; 
    opacity: 0;
}

.slider::-moz-range-thumb:hover{
    opacity: 1;
}



.slider::-moz-range-progress{
    background-color: #c5c5c5;
}

.slider::-moz-range-progress:hover{
    background-color: yellowgreen;
}




